@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

.login__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alexandria', 'Noto Sans KR', sans-serif;
    justify-content: center;
    padding: 20px;
}

.logo__container {
    margin:100px;
    margin-bottom: 15px;
}

.logo__container>img {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
}

.logo__container>p {
    font-weight: bold;
    font-size: 64px;
}

.login__container {
    flex-direction: column;           
    /* margin-top: 40px;  */
    display: flex;
    align-items: center;
    gap: 8px; 
}

/* .login__container>img {
    padding:5px;
} */

.email-login,
.kakao-login,
.google-login,
.github-login {
    display: inline-flex;
    font-family: 'Alexandria', 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.email-login {
    background-color: #007BFF;
    border-style: none;
    color: white;
}

.kakao-login {
    background-color: #FEE702;
    border-style: none;
}

.google-login {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
}

.github-login {
    background-color: #000000;
    border-style: none;
    color: white;
}

.email-login>p,
.kakao-login>p,
.google-login>p,
.github-login>p {
    font-size:20px
}

.login__container>button {
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    width: 300px;             /* 고정 너비 설정 */
    height: 60px;             /* 고정 높이 설정 */
    padding: 0 20px; 
}

.login__container>button>img {
    padding:10px;
}
