html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.dashboard-section {
    margin-top: 80px !important;
    padding: 30px 50px 50px 50px;
}

.dashboard-section h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.dashboard-section > div > div {
    font-size: 1.3rem;
    color: #484848;
    padding-bottom: 50px;
}

.ant-table-thead {
    font-size: 1.08rem !important;
}
.ant-table-tbody {
    font-size: 1.08rem !important;
}

.ant-table .ant-tag {
    font-size: 1.08rem;
    font-weight: 500;
    padding: 0.2em 1em;
}

/* .ant-table-thead > tr > th {
    background: #eeeeee !important;
    color: #fff !important;
    font-weight: 600;
    border-bottom: 1px solid #1F5FF8 !important;
} */
