@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

body {
  font-family: 'Alexandria', 'Noto Sans KR', sans-serif;
  color: #484848;
}

header {
  width: 100vw;
  display: block;
}

.header-container {
  display: flex;
  position: fixed;
  z-index: 1000; 
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin: 0 20px 20px 20px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(34, 64, 140, 0.04);
}

.header-left {
  display: flex;
  align-items: center;
  flex: 0 0 240px;
  min-width: 170px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #484848;
  gap: 8px;
}

.header-left span {  
  font-size: 1.8rem;
  font-weight: bold;
  color: #484848;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  margin: 0;
}

.header-left img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  margin-right: 8px;
}

.header-menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: start;
  gap: 32px;
}

.header-menu a {
  position: relative;
  color: #484848;
  text-decoration: none;
  font-size: 1.07rem;
  font-weight: 500;
  padding: 0 8px;
  text-decoration: none;
  transition: color 0.15s;
}

.header-menu a::after {
  content: "";
  position: absolute;
  left: 20%; 
  right: 20%;
  bottom: -32px;
  height: 3px;
  background: #F97874;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s, left 0.2s, right 0.2s;
}

.header-menu a:hover::after {
  opacity: 1;
}

.header-right a {
  text-decoration: none;
  color: inherit;
}
